.wrapper{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-gap: 10px;
    margin: 40px;
    padding-right: 100px;
}

.follower-cart{
    border: 2px solid seagreen;
    color:white;
    margin: 20px;
  
}
.follower-cart h1{
    text-align: center;
    font-weight: 400;
}